# eEvolution (Quelle) – nur lesen
EE_HOST=192.168.120.234
EE_PORT=1433
EE_DB=KuF
EE_USER=
EE_PASS=

# Odoo (Ziel)
ODOO_URL=http://erp-test-1:8069
ODOO_DB=erp-test-1
ODOO_USER=admin
ODOO_APIKEY=<api-key-aus-odoo-einstellungen>
